.gcloudignore
.git
.gitignore
venv/
source/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
bin
lib
include
share
pyvenv.cfg
.env
.vscode/
.idea/
*.png
*.jpg
*.jpeg
*.svg
!static/logo.png
!static/logo.svg
!logo.png
!logo.svg
